/*
Colors used:
Primary Color (Navy): #051e3c
Secondary Color (Orange): #f28100
Background Color (White): #ffffff
*/

*{
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto';
  font-weight: 300; 
  line-height: 1.6; 
  color: #051e3c;
  margin: 0;
  padding: 0;
  text-align: justify;
}

header {
  position: fixed;
  top: 0;
	width: 100%; 
	background:#f8f8f8; 
  border-top: 3px solid #f28100;
  border-bottom: 3px solid #f28100; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35); 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35); 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.35); 
  z-index: 1;
  padding: 4%;
  text-align: center;
}

h3 {
  margin-bottom: 1px;
  margin-top: 4%;
  font-family: 'Roboto Serif';
  font-size: 1.75em;
  font-weight: 400;
  text-decoration: underline;
}

h2 {
  margin-bottom: 1px;
  margin-top: 7px;
  font-family: 'Roboto Serif';
  font-size: 1.75em;
  font-weight: 700;
  text-decoration: underline;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
width: 100%;
max-width: 100%;
height: auto;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); 
-webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); 
-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.header-container{
  display: inline-block;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 3%;
  padding-top: 5%;
  border: none;
}

nav ul {
display: flex;
padding: 0;
margin: 0;
list-style: none;
justify-content: center;
margin-bottom: -12px;
}

nav li {
  padding: 0px 25px;
  display: inline-block;
  border-right: 1px solid #f28100;
  flex-direction: row-reverse;
}

nav li:last-child{
  border-right: none;
}

.header-container nav li a {
  color:#051e3c;
  text-decoration: none;
  display: block;
}

.header-container nav li a:hover,
.header-container nav li a:focus{
  text-decoration: none;
  transform: scale(1.3);
  transition: ease, 1.5s;
}

.header-container img {
  max-width: 100%;
  max-height: 100%;
  border-bottom: 1px solid #f28100;
  margin: 0 auto;
  margin-top: -2%;
  padding-bottom: 15px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

main {
  padding: 85% 4% 0 4%;
  border-bottom: 1px #f28100 solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); 
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); 
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); 
}

.specific-page main{
  border-bottom: none;
  box-shadow: none; 
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* body.specific-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
} */

.view-project-link {
  justify-content: center;
  border-radius: 2px;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: #f28100;
  padding: 3px;
  transition: ease 1.5s;
}

.view-project-link:hover {
  justify-content: center;
  border-radius: 2px;
  padding: 10px;
  margin: 6px;
  background-color:#f28100;
  border-bottom: #051e3c;
  align-items: center;
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: #ffffff;
  padding: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); 
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); 
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

footer {
  padding: 3% 6% 0 6%; 
  border-bottom: 3px solid #f28100; 
}

.text-align-center {
  text-align: center;
  margin: 5px 0;
  font-size: 12px;
}

.social-icons-container {
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
  padding: 6% 3% 0 3%;
  border-top: 1px solid #f28100;
}
  
.social-icons-container a:hover,
.social-icons-container a:focus {
  align-items: center;
  background-color: none;
  outline: none;
  border: none;
}

.social-icons-container .svg-social-container:hover{
  transform: scale(1.3);
  transition: ease, 1.5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); 
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); 
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.link-button {
  width: 100px;
  background-color: #f28100;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 7px;
  border: none;
  text-align: center;
  transition: ease, 1.5s;
}

.link-button a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 3px;
}

.link-button:hover {
  justify-content: center;
  width: 100%;
  border-radius: 2px;
  background-color: #051e3c;
  color: #ffffff;
  padding: none; 
  transform: scale(1.2);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); 
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); 
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.button-container{
  width: 100px;
  margin: 0 auto;
} 

.row {
  padding: 0 0 2% 0;
}


.word-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 10%;
  font-style: italic;
  font-size: .8em;
  letter-spacing: .2em;
  font-weight: 100;
  opacity: .5;
  text-align: center;
  color: #f28100;
  text-shadow: 4px 4px 4px rgba(255, 115, 0, 0.5);
  -webkit-text-shadow: 4px 4px 4px rgba(255, 123, 0, 0.5);
  -moz-text-shadow: 4px 4px 4px rgba(255, 132, 0, 0.5);
  }

.contact-us-image{
  width: 90%;
  margin: 0 auto;
}

body.specific-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

body.specific-page main {
  flex: 1;
}

.bulletpoints-override{
  justify-content: left;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){

  .header-container{
    border-bottom: 1px #f28100 solid;
    display: flex;
    justify-content: space-between;
    padding: 0 0 3% 0;
    width: 98%;
  } 

  .header-container img {
    max-width: 33%;
    max-height: 33%;
    margin: 0;
    padding: 0;
    border: none;
  }

  main{
    padding-top: 35%;
  }

  body{
    font-size: 18px;
  }

  .word-container {
    font-size: 1.5em;
    margin-bottom: 3%;
  }

  .row {
    display: flex; 
    padding: 5% 0 5% 0;
  }
  
  .row::after {
      content: "";
      clear: both;
      display: table;
  }

  .left-col {
    width: 50%;
  }

  .left-col img{
    width: 100%;
    height: auto;
  }

  .right-col {
    width: 50%;
    padding-left: 5%;
  }

  .social-icons-container {
    display: flex;
    justify-content: space-around;
  }

  .specific-page footer{
      padding: 0 4% 0 4%; 
  }

  #last-boombox-image{
    padding-top: 0;
    margin-top: 0;
  }

  .link-button {
    width: 125px;
  }

  .button-container{
    width: 125px;
    margin: 0 auto;
  } 

  .header-container nav{
    margin-top: auto;
  }

} 

@media only screen and (min-width: 1025px) {

  .header-container{
    border-bottom: 1px #f28100 solid;
    display: flex;
    justify-content: space-between;
    padding: 0 0 3% 0;
    width: 98%;
  } 

  .header-container img {
    max-width: 33%;
    max-height: 33%;
    margin: 0;
    padding: 0;
    border: none;
  }

  .social-icons-container {
    display: flex;
    justify-content: space-evenly;
  }

  .specific-page footer{
      padding: 4% 4% 0 4%; 
  }

  .word-container {
    font-size: 1.5em;
    margin-bottom: 3%;
  }

  .row {
    display: flex; 
    padding: 5% 0 5% 0;
  }

  .row::after {
      content: "";
      clear: both;
      display: table;
  }

  .left-col {
    width: 60%;
  }

  .left-col img{
    width: 100%;
    height: auto;
  }

  .right-col {
    padding-left: 5%;
    width: 40%;
  }

  main {
    padding: 35% 4% 0 4%;
  }

  body{
    font-size: 20px;
  }

  .link-button {
    width: 150px;
  }

  .button-container{
    width: 150px;
    margin: 0 auto;
  } 

  .header-container nav{
    margin-top: auto;
  }
}

/* Animation for the Animated Image*/

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.statue-of-liberty {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move1 {
  from {transform: translate(0,50px);}
  to {transform: translate(100px,50px);}
}

.clouds1 {
  animation-duration: 10s;
  animation-name: cloud-move1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move2 {
  from {transform: translate(0,50px);}
  to {transform: translate(100px,50px);}
}

.clouds2 {
  animation-duration: 10s;
  animation-name: cloud-move2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move3 {
  from {transform: translate(0,50px);}
  to {transform: translate(100px,50px);}
}

.clouds3 {
  animation-duration: 10s;
  animation-name: cloud-move3;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(200px, 48px);}
}

/* Animation for the Hero Text*/

.word {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding-right: 3%;
}

.word:last-child {
  padding-right: 0;
}

#design {
  animation-delay: 0s;
  animation-name: showWord;
}

#create {
  animation-delay: 2s;
  animation-name: showWord;
}

#inspire {
  animation-delay: 4s; 
  animation-name: showWord;
}

@keyframes showWord {
  0% {
    opacity: 0;
  }
  33.33% {
    opacity: .33;
  }
  66.66% {
    opacity: .66;
  }
  100% {
    opacity: 1;
  }
}

